{
    "trailing" : true,
    "node"     : true,
    "globals": {
        //AmdDefine functions

        "require": false,
        //"define": false,
        "module": false,

        //output functions
        "console": false,
        "alert": false,

        //jquery
        "$": false,
        "jQuery": false,
        "self": false,

        //dom
        "window": false,
        "document": false,
        "setTimeout": false,
        "clearTimeout": false,

        "Backbone": false,

        //JSNES
        "JSNES": false,
        "DynamicAudio": false,

        //CodeMirror
        "CodeMirror": false,

        //FileWriterApi
        "Image": false,
        "FileError": false,
        "Blob": false,
        "TEMPORARY": false,
        "Uint8Array": false
    }
}